.page {
  &.portfolio {
    main.portfolio-main {
      padding-top: 4rem;
      padding-bottom: 2.5rem;
      padding-right: 3.5rem;
      padding-left: 3.5rem;

      .project-wrapper {
        display: grid;
        grid-template-columns: 3fr 1fr;
        background-color: #f3f3f3;
        border-radius: 4px;
        margin-bottom: 5rem;
        // height: 48vh;

        grid-template-rows: auto;
        @include for-phone-only {
          grid-template-rows: auto;
          grid-template-columns: auto;

          .project-detail {
            order: 2;

            .btn.visit-site {
              display: block;
              margin-bottom: 1rem;
            }
          }
          .project-headline-img {
            order: 1;
          }
        }
  
        .project-detail {
          padding: 1.5rem 1.5rem 1rem 1rem;

          h2 {
            margin-bottom: .5rem;
            text-transform: uppercase;
            font-size: 24px;
            line-height: 25px;
            letter-spacing: 0.31px;
          }

          p {
            margin-bottom: .5rem;
            color: #505050;
            font-size: 16px;
            line-height: 25px;
            letter-spacing: 0.21px;

            &.about-project {}

            &.technologies {
              color: #9f9f9f;

              span {
                color: $dark;
              }
            }
          }

          .visit-site {
            margin-right: 2rem;
          }

          a {
            display: inline-block;
            margin-top: 1rem;
          }
        }
  
        .project-headline-img {
          img {
            max-width: 100%;
            // width: 100%;
            // width: 42vh;
          }
        }
      }

      .back-to-top {
        background: $dark;
        color: $light;
        width: 4vw;
        height: 4vw;
        // padding: .5rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        position: fixed;
        bottom: 5vh;
        left: 6vw;
        cursor: pointer;
        opacity: 0.8;
        filter: alpha(opacity=80); /* For IE8 and earlier */
        text-align: center;

        span {
          display: inline-block;
          font-size: .5rem;
        }

        @include for-phone-only {
          width: 14vw;
          height: 14vw;
        }
      }
    }
  }
}