.page {
  &.about {
    main {
      display: grid;
      grid-template-columns: 3fr 6fr;
      grid-gap: 6rem;
      padding-top: 4rem;
      padding-bottom: 2.5rem;

      @include breakpoint($max: 768px) {
        grid-template-columns: 3fr;
        grid-gap: 1rem;
      }
    
      @include for-phone-only {
        // grid-template-columns: 1fr;
        // text-align: center;
      }

      .side-headline-text {
        text-align: right;
        font-size: 3rem;
        font-weight: bold;

        @include breakpoint($max: 768px) {
          padding-right: 0.5rem;
          padding-left: 0.5rem;
        }
      }

      .about-main {
        padding-right: 12vw;

        @include breakpoint($max: 768px) {
          padding-right: 0.5rem;
          padding-left: 0.5rem;
        }

        p {
          font-size: 14px;
          line-height: 35px;
          letter-spacing: 0.18px;
          margin-bottom: 1.5rem;

          span {
            font-weight: 600;
          }
        }
      }
    }
  }
}
