nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 2.5rem;

  a {
    padding: 0 0 0.5rem;
    margin: 0 1rem;
    display: inline-block;
    color: rgba(0, 0, 0, 0.5);
    
    @include breakpoint($max: 768px) {
      margin: 0 1rem 0 0;
    }
  
    @include for-phone-only {
      margin: 0 1rem 0 0;
    }
  

    &.active, &:hover {
      position: relative;
      color: $dark;

      &:after {
        content: ' ';
        position: absolute;
        background: $dark;
        height: 2px;
        width: 100%;
        bottom: 0;
        left: 0;
      }
    }
  }

  @include breakpoint($max: 768px) {
    &.home {
      justify-content: flex-start;
      a {
        margin: 0 0.5rem 0 0;
      }
    }
  }

  @include for-phone-only {
    &.home {
      justify-content: center;
      a {
        margin: 0 1rem 0 0;
      }
    }
  }
}
